# Local test assets
assets/test.jpg
assets/test_video.mp4

# Inference outputs
runs/
outputs/*.mp4
outputs/*.avi

# Local training dataset
datasets/fire_smoke/images/
datasets/fire_smoke/labels/

# Python cache
__pycache__/
*.py[cod]
